In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

In [3]:
# load data
#df = np.loadtxt('../gene_sequence_data.txt',delimiter=',',dtype=np.str)
df = pd.read_csv('../gene_sequence_data.txt',sep= ',',header=None)

In [4]:
df.head()

,0,1,2
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGG...
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGG...
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGG...
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGT...
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTG...

In [5]:
df.columns = ['class', 'name', 'seq']

In [6]:
df.head()

,class,name,seq
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGG...
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGG...
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGG...
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGT...
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTG...

In [7]:
df = df[['seq','class']]

In [8]:
df.head()

                                                 seq class
0                 CCAGCTGCATCACAGGAGGCCAGCGAGCAGG...    EI
1                 AGACCCGCCGGGAGGCGGAGGACCTGCAGGG...    EI
2                 GAGGTGAAGGACGTCCTTCCCCAGGAGCCGG...    EI
3                GGGCTGCGTTGCTGGTCACATTCCTGGCAGGT...    EI
4               GCTCAGCCCCCAGGTCACCCAGGAACTGACGTG...    EI

In [9]:
#x1 = np.array([list(x[t]) for t in range(len(x))])
# remove empty space
df['seq'] = df['seq'].str.strip()

In [10]:
df.head()

                                                 seq class
0  CCAGCTGCATCACAGGAGGCCAGCGAGCAGGTCTGTTCCAAGGGCC...    EI
1  AGACCCGCCGGGAGGCGGAGGACCTGCAGGGTGAGCCCCACCGCCC...    EI
2  GAGGTGAAGGACGTCCTTCCCCAGGAGCCGGTGAGAAGCGCAGTCG...    EI
3  GGGCTGCGTTGCTGGTCACATTCCTGGCAGGTATGGGGCGGGGCTT...    EI
4  GCTCAGCCCCCAGGTCACCCAGGAACTGACGTGAGTGTCCCCATCC...    EI

In [13]:
X = df['seq']

In [14]:
X =  np.array([list(X[t]) for t in range(len(X))])

In [15]:
X.shape

(3190, 60)

In [16]:
l,n = X.shape
for t in range(l):
    if len(np.unique(X[t,:])) > 4:
        print(t,len(np.unique(X[t,:])),np.unique(X[t,:]))

107 5 ['A' 'C' 'G' 'N' 'T']
239 5 ['A' 'C' 'G' 'N' 'T']
365 5 ['A' 'C' 'G' 'N' 'T']
366 5 ['A' 'C' 'G' 'N' 'T']
485 5 ['A' 'C' 'G' 'N' 'T']
1247 5 ['A' 'C' 'D' 'G' 'T']
1440 5 ['A' 'C' 'G' 'R' 'T']
1441 5 ['A' 'C' 'G' 'S' 'T']
1804 5 ['A' 'C' 'G' 'N' 'T']
2069 5 ['A' 'C' 'G' 'N' 'T']
2135 5 ['A' 'C' 'G' 'N' 'T']
2578 5 ['A' 'C' 'D' 'G' 'T']
2636 5 ['A' 'C' 'G' 'N' 'T']
2637 5 ['A' 'C' 'G' 'N' 'T']
2910 5 ['A' 'C' 'G' 'N' 'T']

In [17]:
# delete rows containing bad letters
bad_letters = ['D','N','S','R']
for bad_letter in bad_letters:
    t = np.unique(np.where(X == bad_letter)[0])
    X = np.delete(X,t,axis=0)